# Binaries
/bin/
/build/
*.exe
*.out

# Go build cache
*.test
*.prof
*.cover
go.work
go.work.sum

# Vendor
/vendor/

# Env files
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp

# OAuth token
/internals/modules/google/token.json


#python venv 
/internals/modules/video_processor/.venv

#caption model
/internals/modules/video_processor/model

#go modules
/internals/vendor

#input output videos
/internals/modules/video_processor/input_video.mp4
/internals/modules/video_processor/output_video.mp4
/internals/modules/video_processor/subtitles.srt
